<launch>
    <!--Create marker pathway-->
    <node pkg="etu_nav" name="wall_filter" type="wall_filter.py"/>
    <node pkg="etu_nav" name="fit_ellipse" type="tracker.py"/>
    <node pkg="etu_nav" name="reset_button" type="reset_walls.py" output="screen"/>
    <!-- Map server -->
    <arg name="map_file" default="$(find etu_nav)/extra/octomaps/octo_etu_3d.ot"/>
    <node name="octomap_server" pkg="octomap_server" type="octomap_server_node" args="$(arg map_file)" />
    <!--Launch Contamination Node-->
    <node pkg="etu_nav" name="contamination_node" type="contamination_points.py" output="screen"/>
    <node pkg="tf" type="static_transform_publisher" name="laser_to_map" args="0.19 -2.5 0 0 0 .766 0.643 /map /laser 100"/>
</launch>
